/*
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
 /* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
a:link {
    color: #6EA522;
}
a:visited {
    color: #6EA522;
}
a:hover {
    color: #6EA522;
	text-decoration:underline;
}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
@font-face {
    font-family: 'ambleregular';
    src:url(../font/Amble-Regular-webfont.ttf) format('truetype');
}
@font-face {
    font-family: 'bonvenocflight';
    src:url(../font/BonvenoCF-Light-webfont.ttf) format('truetype');
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background:url(../images/body_bg.jpg);
}
.contentWrap {

}
.header_top {
	padding:10px 0;
	background:#8dc63f;
}
.logo {
	text-align:center;
}
.call{
	text-align:center;
}
.call img{
	vertical-align:middle;
}
.call p{
	font-size:1.2em;
	color:#FFF;
	font-family: 'ambleregular';	
}
.header_bottom {
	background:#6EA522;
	padding:5px 0;
	box-shadow:inset 0px 8px 10px #5B960A;
	position:relative;
}
.nav-item {
    float:left;
    *display:inline;
    zoom:1;
}
.nav-item a:hover,.nav-item a.active{
	background:#3A7900;
}
.nav-mobile {
    display: none;
	cursor: pointer;
	float:left;
	background: url(../images/nav_icon.png) no-repeat;
	height:22px;
	width:22px;
	margin-top:20px;
}
    .nav-mobile {
        display:block;
    }
    .nav {
        width:100%;
    }
    .nav-list {
        display:none;
    }
    .nav-item {
        width:100%;
        float:none;
    }
    .nav-item a{
    	 font-family: 'bonvenocflight';
		font-size:0.823em;
		text-transform:uppercase;
		color: #fff;
		display:block;
		padding:10px 20px;
	    -webkit-transition: all .9s;
	   	-moz-transition: all .9s;
	   	-o-transition: all .9s;
	   -ms-transition: all .9s;
	    transition: all .9s;
        text-transform:uppercase;
        border-bottom:1px solid #4F8602;
       
   }
   .nav-active, .nav-active-inner .nav-inner {
        display:block;
  }
.social-icons{
	float:right;
	padding-top:15px;
}
.social-icons li{
	display:inline-block;
}
.social-icons li a img{
	vertical-align:middle;
}
.social-icons li a{
	margin:0 5px;
}
.strip{
	background: url(../images/border-bg.png) repeat-x;
	padding-bottom:10px;
	position:fixed;

}
/**** Slider *****/
.slider_top{
	margin:5px 0;
}
.slider_right{
    position:relative; 
}
.slider_right img{
	display:block;
	max-width:100%;
}

.wmuSlider {
	position: relative;
	overflow: hidden;
}
.wmuSlider .wmuSliderWrapper article {
	position: relative;
	text-align: center;
}
.wmuSlider .wmuSliderWrapper article img {
	max-width: 100%;
	width:100%;
	height: auto;
	display:block;
}
.wmuGallery .wmuGalleryImage {
	position: relative;
	text-align: center;
}
.wmuGallery .wmuGalleryImage img {
	max-width: 100%;
	width: auto;
	height: auto;
}
/* Default Skin */
.wmuGallery .wmuGalleryImage {
	margin-bottom: 10px;
}
.wmuSliderPrev, .wmuSliderNext {
	position: absolute;
	width: 40px;
	height: 80px;
	text-indent: -9999px;
	background: url(../images/sprites.png) no-repeat 0 0;
	top: 50%;
	margin-top: -40px;
	z-index: 2;
	cursor:pointer;
}
.wmuSliderPrev {
	background-position: 100% 0;
	left: 20px;
}
.wmuSliderNext {
	right: 20px;
}
.wmuSliderPagination {
	z-index: 2;
	position: absolute;
	left: 20px;
	bottom: 10px;
}
.wmuSliderPagination li {
	float: left;
	margin: 0 5px 0 0;
	list-style-type: none;
}
.wmuSliderPagination a {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 10px;
	background: url(../images/sprites.png) no-repeat 0 -80px;
}
.wmuSliderPagination a.wmuActive {
	background-position: -10px -80px;
}
.sliderright-text{
	position:absolute;
	bottom:50px;
	left:0;
}
.sliderright-text h3 span{
	font-size:1.2em;
	color:#6EA522;
}
.sliderright-text h3 span:hover{
	color:#222;
}
.sliderright-text h3{
	font-size:2.5em;
	color:#746a5e;
	text-transform:uppercase;
	font-family: 'bonvenocflight';
	cursor:pointer;
}
/*  GRID OF THREE   ============================================================================= */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}

.images_1_of_3 {
	width:96%;
	position:relative;
}
.images_1_of_3  img {
	max-width:100%;
	display:block;
}
.discount-text{
	position:absolute;
	bottom:0px;
	right:0;
	text-transform:uppercase;
	height:172px;
	width:50%;
	padding:10px;
}
.green{
	background:#949A42;
}
.yellow{
	background:#FFC001;
}
.orange{
	background:#FF8601;
}
.discount-text h5{
	color:#FFF;
	font-size:1.5em;
	font-family: 'bonvenocflight';
	line-height:1em;
}
.discount-text h1 {
	font-size:3.5em;
	line-height:40px;
	color: #FFF;
	font-family: 'bonvenocflight';
}
.discount-text h1 b{
	font-size:0.5em;
	line-height:30px;
	vertical-align: top;
}
.discount-text h1 span {
	font-size:0.6em;
	line-height:40px;
}
.discount-text h3 span{
	font-size:1.5em;
	color:#6EA522;
}
.discount-text h3{
	font-size:1.4em;
	line-height:25px;
	color:#FFF;
	font-family: 'bonvenocflight';
	margin-bottom:5px;
}
.discount-text p{
	font-size:0.7em;
	color:#FFF;
	line-height:1.5em;
	font-family: 'bonvenocflight';
}
/***** Content *****/
.content {
	padding:10px 0 20px 0;
}
.content h2 {
	color:#9E9E9E;
	text-shadow:0 0 5px #FFF;
	margin-bottom: 0.5em;
	font-size:1.2em;
	font-family: 'ambleregular';
	font-weight: normal;
	margin-top: 0px;
	text-transform: uppercase;
}
/***** Content-top ******/
.image {
	clear: both;
	padding: 0px;
	margin: 0px;
	padding:5%;
	border: 1px solid #DDD;
	background:#F5F5F5;
	border-radius: 10px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius: 10px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.grid {
	display: block;
	float:left;
}
.grid:first-child { margin-left: 0; }

.images_3_of_1 {
	width:100%;
}
.span_2_of_3{
	width:100%;
}
.images_3_of_1  img {
	max-width:100%;
	display:block;
	border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;
}
.span_2_of_3  h3{
	font-size:1.4em;
	color:#9E9E9E;
	text-shadow:0 0 5px #FFF;
	font-family:'bonvenocflight';
	text-transform:uppercase;
}
.span_2_of_3  h3 span{
	color:#6EA522;
	font-style:italic;
}
.span_2_of_3  p  {
	font-size: 0.8em;
	color:#888;
	line-height: 1.8em;
	font-family: 'ambleregular';
}
.treatment_list ul{
	float:left;
}
.treatment_list ul.list2{
	margin-left:4px;
}
.treatment_list li a{
	 font-size: 0.8em;
	 color:#888;
	 display:block;
	 padding:8px 0px 8px 22px;	
	 background:url(../images/marker1.png) no-repeat 0;
	 font-family: 'ambleregular';
}
.treatment_list li a:hover{
	color:#8DC63F;
}
.pack-desc{
	text-align:center;
	padding:20px 0;
	margin-top:30px;
	border-top: 1px solid #DFDFDF;
	border-bottom: 1px solid #DFDFDF;
}
.pack-desc h3{
	font-size:1.2em;
	color:#5A5A5A;
	font-family:'bonvenocflight';
	text-transform:uppercase;
}
.pack-desc h3 span{
	color:#8DC63F;
}
.pack-desc p{
	font-size:0.85em;
	color:#888;
	line-height:1.8em;
}
.button{
	text-align:center;
	margin-top:20px;
}
.button a{
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8fcf00), color-stop(100%, #6b9c00));
  background: -webkit-linear-gradient(top, #8fcf00, #6b9c00);
  background: -moz-linear-gradient(top, #8fcf00, #6b9c00);
  background: -o-linear-gradient(top, #8fcf00, #6b9c00);
  background: linear-gradient(top, #8fcf00, #6b9c00);
  background-color: #7db500;
  border-color: #5a8200;
  color: white;
  text-shadow: 0 -1px 1px rgba(19, 28, 0, 0.35);
  padding:15px  20px;
  border-width:4px;
  border-style:solid;
  border-radius:35px;-moz-border-radius:35px;-webkit-border-radius:35px;-o-border-radius:35px;
  font-size:1.1em;
  display:inline-block;
  text-transform:uppercase;
  font-family: 'ambleregular';
  
}
.button a:hover{
  background-color: #7db500;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a0e800), color-stop(100%, #6b9c00));
  background: -webkit-linear-gradient(top, #a0e800, #6b9c00);
  background: -moz-linear-gradient(top, #a0e800, #6b9c00);
  background: -o-linear-gradient(top, #a0e800, #6b9c00);
  background: linear-gradient(top, #a0e800, #6b9c00);
}
.button a:active {
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  background: #76a312;
  color: #374f00;
}
/*  GRID OF THREE   ============================================================================= */
.spa_products{
	padding:20px 0 0 0;
}
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.products_1_of_3:first-child { 
	margin-left: 0; 
} 
.products_1_of_3{
	width:94%;
	padding:3%; 
	display: block;
	float:left;
}
.products_1_of_3  img {
	max-width:100%;
	display:block;
	padding: 3px;
	background: #FFF;
	border: 1px solid #DDD;
	border-radius: 20px;-webkit-border-radius: 20px;-moz-border-radius: 20px;-o-border-radius: 20px;
}
.products_1_of_3  h3{
	font-size: 1.2em;
	margin-top:5px;
	color:#8DC63F;
	font-family: 'bonvenocflight';
	text-transform: uppercase;
}
.products_1_of_3  p  {
	font-size: 0.85em;
	color: #888;
	line-height: 1.8em;
}
.read_more{
	margin-top:5px;
}
.read_more a{
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8fcf00), color-stop(100%, #6b9c00));
  background: -webkit-linear-gradient(top, #8fcf00, #6b9c00);
  background: -moz-linear-gradient(top, #8fcf00, #6b9c00);
  background: -o-linear-gradient(top, #8fcf00, #6b9c00);
  background: linear-gradient(top, #8fcf00, #6b9c00);
  background-color: #7db500;
  border-color:#77AA04;
  color: white;
  text-shadow: 0 -1px 1px rgba(19, 28, 0, 0.35);
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
   box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
   border: 1px solid #5a8200;
   display:inline-block;
   padding:8px 10px;
   font-family: 'ambleregular';
   font-size: 14px;
}
.read_more a:hover{
  background-color: #7db500;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a0e800), color-stop(100%, #6b9c00));
  background: -webkit-linear-gradient(top, #a0e800, #6b9c00);
  background: -moz-linear-gradient(top, #a0e800, #6b9c00);
  background: -o-linear-gradient(top, #a0e800, #6b9c00);
  background: linear-gradient(top, #a0e800, #6b9c00);
}
.read_more a:active{
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  background: #76a312;
  color: #374f00;
}
/** Footer **/
.footer{
	background:#8dc63f;
	padding:10px 0;	
}
.footer-strip{
	background: url(../images/footerborder-bg.png) repeat-x;
	padding-bottom:8px;
}
.footer h3{
	 font-size:1.4em;
	 text-transform:uppercase;
	 color:#316600;
	 margin-top:10px;
	 font-family: 'bonvenocflight';
 }
  .address li{
	  font-size:0.85em;
	  color:#FFF;
	  padding:5px 0;
	  font-family: 'ambleregular';
 }
 .footer_grid1 li a{
 	 display:block;
	 font-size:0.85em;
	 font-family: 'ambleregular';
	  color:#FFF;
	 padding:5px 15px;
	 background:url(../images/footer-bullet.png) no-repeat 0;
	 -moz-transition: all 0.2s linear; 
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
 }
 .footer_grid1 li a:hover{
	color:#383838;
 }
 .f_menu li a{
	 color:#FFF;
	 font-family: 'ambleregular';
	 display:block;
	 padding:5px 15px;
	 font-size:0.85em;
	 background:url(../images/footer-bullet.png) no-repeat 0;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
 }
 .f_menu li a:hover{
	color:#383838;
 }
 .img_list li {
	 display:block;
	 margin:15px 0;
 } 
 .img_list li a{
	 font-size:0.85em;
	 color:#FFF;
	 font-family: 'ambleregular';
	 padding:0 8px;
	 text-transform:uppercase;
	 -moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
 }
  .img_list li a:hover{
	  color:#383838;
 }
  .img_list img{
	 vertical-align:middle;
	 opacity:0.65;
 }
 .img_list img:hover{
 	opacity:1;
 }
 .copy_right{
	text-align:center;
	padding:10px 0;
	background:#6EA522;
	box-shadow:inset 0px 8px 10px #5B960A;
 }
 .copy_right p{
	font-size:0.85em;
	color:#FFF;
	 font-family: 'ambleregular';
	line-height:1.8em;
 }
 .copy_right p a{
   color:#222;
   text-decoration:underline;
   transition: all 300ms!important;
	-webkit-transition: all 300ms!important;
	-moz-transition: all 300ms!important;
 }
 .copy_right p a:hover{
 	color:#FFF;
	text-decoration:none;
 }
 
/********* About ******/
/*  GRID OF Content and sidebar   ============================================================================= */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.cont{
	display: block;
	float:left;
}
.rsidebar{
	display: block;
	float:left;
	margin:10px 0;
} 	
.about_desc{
	width:94%;
	padding:3%; 
}
.span_1_of_3 {
	width:94%;
	padding:3%;  
}
.about_img img{
	padding: 3px;
	background: #FFF;
	border: 1px solid #DDD;
}
.about_desc h3{
	font-size: 1.1em;
	margin:5px 0;
	color:#8DC63F;
	font-family: 'bonvenocflight';
	text-transform: uppercase;
}
.about_desc p{
	font-size:0.85em;
	color: #888;
	line-height: 1.8em;
}
/******* Popular Posts ***********/
.post-grid {
	padding: 10px 0px;
	border-bottom:2px ridge #FFF;
}
.post-grid img {
	float: left;
	width:30%;
	border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;
}
.post-grid p {
	float: right;
	width:65%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #888;
	line-height: 1.6em;
}
.post-grid p a{
	font-family: Arial, Helvetica, sans-serif;
	color:#8DC63F;
	line-height: 1.6em;
}
.post-grid p a:hover{
	color:#888;
}
.view-all a {
	font-family: 'ambleregular';
	color:#9E9E9E;
	font-size:1em;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
	float: right;
	margin-top:5px;
}
.view-all a:hover{
	color:#3A7900;
}
/***** Latest comments *******/
.latest_comments{
	padding-top:20px;
	border-bottom:2px ridge #FFF;
}
.comments{
	padding:5px 0;
}
.latest_comments p{
	font-size: 0.85em;
	color:#444;
}
.latest_comments p span{
	font-weight:bold;
	color:#222;
}
.latest_comments h4{
	padding:8px 0;
}
.latest_comments h4 a{
	color:#8DC63F;
	font-size: 0.9em;
	font-style:italic;
}
.latest_comments h4 a:hover{
	text-decoration:underline;
}
/***********--services--****************/
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.col_1_of_4{
	display: block;
	float:left;
}
.col_1_of_4:first-child { margin-left: 0; } /* all browsers except IE6 and lower */	
.span_1_of_4 {
	width:94%;
	padding:3%; 
}
.span_1_of_4 h3{
	font-size: 1.6em;
	text-transform: uppercase;
	color: #316600;
	margin: 5px 0px;
	padding-bottom: 8px;
	font-family: 'bonvenocflight';
	line-height:25px;
}
.span_1_of_4 h3 span{
	color:#999;
	font-size:20px;
}
.span_1_of_4 p{
	font-size: 0.85em;
	color: #888;
	line-height: 1.8em;
	padding:5px 0;
}
.services_list li a{
	 font-size: 0.8em;
	 color:#888;
	 display:block;
	 padding:8px 22px;	
	 background:url(../images/marker1.png) no-repeat 0;
	 font-family: 'ambleregular';
}
.services_list li a:hover{
	color:#8DC63F;
}
.col_1_of_2{
	display: block;
	float:left;
}
.col_1_of_2:first-child { margin-left: 0; }
.span_1_of_2 {
	width:94%;
	padding:3%;
}
.span_1_of_2  h3{
	font-size: 1.6em;
	text-transform: uppercase;
	color: #888;
	margin: 5px 0px;
	font-family: 'bonvenocflight';
	line-height:25px;
}
.span_1_of_2  p span{
	font-size:0.85em;
	padding:5px  0;
	color: #777;
	font-weight:bold;
	line-height: 1.8em;
}
.span_1_of_2  p{
	font-size:0.85em;
	 color:#888;
	line-height: 1.8em;
}
.span_1_of_2 h4 span{
	color:#8DC63F;
}
.span_1_of_2 h4{
	font-size:1em;
	color:#777;
    text-transform:uppercase;
    font-family: 'ambleregular';
    margin-top:15px;
}
.treatment_img {
	width:30%;
	float: left;
	margin-right:3%;
}
.treatment_img img{
	border-radius:100px;-webkit-border-radius:100px;-moz-border-radius:100px;-o-border-radius:100px;
}
.treatment-desc{
	width:67%;
	float: left;
	margin-right: 0px;
}
.hair_treatment{
	margin:20px 0;
}
/********** Price List *****************/
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.col_1_of_3{
	display: block;
	float:left;
}
.col_1_of_3:first-child { margin-left: 0; }

.span_1_of_3 {
	width:94%;
	padding:3%; 
}
.span_1_of_3  h3{
	font-size: 1.4em;
	color: #5A5A5A;
	font-family: 'bonvenocflight';
	text-transform: uppercase;
	margin-bottom:5px;
}

.span_1_of_3  p  {
	font-size: 0.85em;
	color: #888;
	line-height: 1.8em;	
}
.price_list li{
	font-size: 1em;
	color: #888;
	display: block;
	padding:8px 0px;
	font-family: 'ambleregular';
	letter-spacing:1px;
}
.price_list li span:hover{
	color:#8DC63F;
	cursor:pointer;
}
.time{
	margin-top:20px;
}
/************* Contact ********/
.contact-form{
	position:relative;
	padding-bottom:30px;
}
.contact-form div{
	padding:5px 0;
}
.contact-form span{
	display:block;
	font-size:0.85em;
	color: #888;
	padding-bottom:5px;
	font-family :verdana, arial, helvetica, helve, sans-serif;
}
.contact-form input[type="text"],.contact-form textarea{
		    padding:8px;
			display:block;
			width:94%;
			background:#fcfcfc;
			border: none;
			outline:none;
			color:#464646;
			font-size:1em;
			font-family:Arial, Helvetica, sans-serif;
			box-shadow: inset 0px 0px 3px #999;
			-webkit-box-shadow: inset 0px 0px 3px #999;
			-moz-box-shadow: inset 0px 0px 3px #999;
			-o-box-shadow: inset 0px 0px 3px #999;
			-webkit-appearance:none;
}
.contact-form textarea{
		resize:none;
		height:100px;		
}
.contact-form input[type="submit"]{
   background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8fcf00), color-stop(100%, #6b9c00));
  background: -webkit-linear-gradient(top, #8fcf00, #6b9c00);
  background: -moz-linear-gradient(top, #8fcf00, #6b9c00);
  background: -o-linear-gradient(top, #8fcf00, #6b9c00);
  background: linear-gradient(top, #8fcf00, #6b9c00);
  background-color: #7db500;
  border-color:#77AA04;
  color: white;
  text-shadow: 0 -1px 1px rgba(19, 28, 0, 0.35);
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
   box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
   border: 1px solid #5a8200;
   display:inline-block;
   padding:10px 20px;
   font-family: 'ambleregular';
   font-weight: 300;
   font-size: 14px;
   cursor:pointer;
   text-transform:uppercase;
   -webkit-appearance:none;
   float:right;
}
.contact-form input[type="submit"]:hover{
  background-color: #7db500;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a0e800), color-stop(100%, #6b9c00));
  background: -webkit-linear-gradient(top, #a0e800, #6b9c00);
  background: -moz-linear-gradient(top, #a0e800, #6b9c00);
  background: -o-linear-gradient(top, #a0e800, #6b9c00);
  background: linear-gradient(top, #a0e800, #6b9c00);
}
.contact-form input[type="submit"]:active{
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  background: #76a312;
  color: #374f00; 
}
.company_address p{
	font-size:0.85em;
	color: #888;
	padding:5px 0;
	font-family :verdana, arial, helvetica, helve, sans-serif;
}
.company_address p span{
	text-decoration:underline;
	color:#333;
	cursor:pointer;
}
.map{
	border:1px solid #C7C7C7;
	margin-bottom:15px;
}






.bodyWrap{
	width:95%;
	margin: 0 auto;
	padding-top:48px;
}
.listBox{
	width:96%;
	display: block;
	float: none;
	margin-top: 8px;
	margin-right: 0;
	margin-bottom: 5px;
	margin-left: 0;
	background-color: #F0F0F0;
	clear: both;
	padding-top: 5px;
	padding-right: 2%;
	padding-bottom: 2%;
	padding-left: 2%;
	border: 1px solid #006600;
	border-radius: 10px;
	font-family:'맑은 고딕', '돋움체', '한컴 윤고딕 230';
}
.listBox:first-child { 
	margin-left: 0; 
} 
.break{
	height:4px;	
}

<!--ㅇㅇ님이 공유-->
.shareComment{
	 padding-left:2px;
}
.shareIcon{
	 float:left;
	 
}
.shareIcon img{
	width:16px; 
	height:9px;
}
.shareComments{
	font-size:11px;
	padding-top:3px;
}
<!--농부프로필사진 & 농부 ㅇㅇ님이 올린 상품 & 올린 시간(ㅇㅇ분 전) & 마감일-->
.farmerPic{
}
.farmerPic img{
	width:35px; 
	height:35px; 
	border-radius:100px;
	float:left;
	margin-right:8px;
}
.farmerUpload{
	height:40px; 
	float:left;
}
.dueDate{
	height:40; 
	font-size:11px;
	text-align: right;
}
.prodImg{
	padding-left:10px;
	float:left;
	width:124px;
	height:105px;
	margin-right:10px;
}
.prodImg img{
	width:100%; 
	height:100%; 
	border-radius:5px;
}
.shareButton{
	float:right; 
	margin-top:70px;
}
.prodInfo{
	height:105px;
	float:left;
	padding-right:80px;
}
.shareButton input{
	box-shadow:#060; 
	border-color:transparent; 
	background-color:#6EA522; 
	color:#FFF;
	height:40px;
}